:root {
  --bg-color: #ffffff;
  --black: #000000;

  --marginDesktop: 2vw;
}

@font-face {
  font-family: "Neue Haas Grotesk Text Pro";
  src: url("folder/data/font/Neue_Haas_Grotesk_Text_Pro.otf") format("opentype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--black);
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
  font-weight: normal;
  margin: var(--marginDesktop);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: calc(var(--marginDesktop) / 2);
}

h1 {
  font-size: calc(11px + 0.390625vw);
  line-height: calc(11px + 0.390625vw);
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

p {
  font-size: calc(11px + 0.390625vw);
  line-height: calc(15px + 0.390625vw);
}

a {
  text-decoration: none;
  color: var(--black);
  transition: all 0.5s ease;
  cursor: pointer;
}

.alignRight {
  display: flex;
  justify-content: flex-end;
}

main {
  margin-top: calc(100vh / 6);
}

.rot {
  transition: all 0.5s ease;
  cursor: pointer;
}

.rot:hover {
  transform: rotate(-10deg);
  transition: all 0.5s ease;
}


/* Header */
header{
  position: fixed;
  top: var(--marginDesktop);
  z-index: 901;
}

.headerLogo {
  grid-column: 1 / span 2;
}

.navSelect {
  grid-column: 3 / span 2;
}

.menuContainer{
  grid-column: 12 / span 1;
  display: flex;
  justify-content: flex-end;
}


/*About*/
.aboutInfo {
  grid-column: 3 / span 6;
}

.aboutContainer {
  margin-top: calc(100vh / 6);
}

.imageAbout-main {
  grid-column: 3 / span 6;
}

.imageAbout-main img {
  width: 100%;
}

.aboutImageContainer:first-child {
  grid-column: 3;
}

.imageAbout_description {
  grid-column: span 3;
  display: flex;
  align-items: flex-end;
}

.gapAbout {
  grid-column: span 2;
}

.imageAbout {
  grid-column: span 5;
}

.imageAbout img {
  width: 100%;
}


/*Contact*/
.contactInfo{
    grid-column: 3 / span 5;
}

.socialMedia{
    grid-column: 9 / span 2;
}

.socialMedia h1{
    width: max-content;
}

/*Menu*/
.menuSelect{
  transform: rotate(-10deg);

}
#menu{
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - var(--marginDesktop)*2);
  height: calc(100vh - var(--marginDesktop)*2);
  padding: var(--marginDesktop);
}

#menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  display: block; /* This needs to be block to allow the transition */
}

#menu.open {
  opacity: 1;
  visibility: visible;
}

.menuBackground {
  transition: opacity 0.32s cubic-bezier(.4,0,.6,1) 80ms, visibility 0.32s step-end 80ms;
  background: rgba(232, 232, 237, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
}

.menuBackground.open {
  transition: opacity 0.32s cubic-bezier(.4,0,.6,1) 80ms, visibility 0.32s step-end 80ms;

  visibility: visible;
  opacity: 1;
}

.menuContent {
  position: relative;
  z-index: 901;
}

.menuHeader{
  grid-column: 3 / span 3;
  display: flex;
      gap: var(--marginDesktop);
      flex-direction: column;
}

.menuHeader h1{
  width:max-content;
}

.menuContent{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 901;
  width: calc(100% - var(--marginDesktop)* 2);
}

.language{
  position: absolute;
  display: flex;
  gap: calc(var(--marginDesktop) / 4);
  bottom: var(--marginDesktop);
  right: var(--marginDesktop);
  z-index: 901;
}

/*Agenda*/
.agendaFilters{
  position: fixed;
}

.agendaItems{
  margin-top: calc(15px + 0.390625vw);
}
.dateAgenda{
  grid-column: 3 / span 2;
}
.projectAgenda{
  grid-column: 5 / span 4;
}
.locationAgenda{
  grid-column: 9 / span 3;
}

.categoryAgenda{
  grid-column: 12 / span 1;
}

@media only screen and (max-width: 700px) {
    /* Header */
.headerLogo {
    grid-column: 1 / span 4;
  }
  
  .navSelect {
    display: none;
  }
  
  .menuContainer {
    grid-column: 12 / span 4;
      width: max-content;
  }
  
}