:root {
  --bg-color: #ffffff;
  --black: #000000;
  --grey: #b3b3b3;

  --marginDesktop: 2vw;
}

@font-face {
  font-family: "Neue Haas Grotesk Text Pro";
  src: url("folder/data/font/Neue_Haas_Grotesk_Text_Pro.otf") format("opentype");
  font-weight: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--black);
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
  font-weight: normal;
  margin: var(--marginDesktop);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: calc(var(--marginDesktop) / 2);
}

h1 {
  font-size: calc(11px + 0.390625vw);
  line-height: calc(11px + 0.390625vw);
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

p {
  font-size: calc(11px + 0.390625vw);
  line-height: calc(15px + 0.390625vw);
}

a {
  text-decoration: none;
  color: var(--black);
  transition: all 0.5s ease;
  cursor: pointer;
}

.mono {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.alignRight {
  display: flex;
  justify-content: flex-end;
}

main {
  margin-top: calc(100vh / 6);
}

.rot {
  transition: all 0.5s ease;
  cursor: pointer;
}

.rot:hover {
  transform: rotate(-10deg);
  transition: all 0.5s ease;
}

/* Header */
header {
  position: fixed;
  top: var(--marginDesktop);
  z-index: 901;
  width: calc(100% - var(--marginDesktop) * 2);
}

.headerLogo {
  grid-column: 1 / span 2;
}

.navSelect {
  grid-column: 3 / span 2;
}

.menuContainer {
  grid-column: 12 / span 1;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}

/*About*/
.aboutInfo {
  grid-column: 3 / span 6;
}

.aboutContainer {
  margin-top: calc(100vh / 6);
}

.imageAbout-main {
  grid-column: 3 / span 6;
}

.imageAbout-main img {
  width: 100%;
}

.aboutImageContainer:first-child {
  grid-column: 3;
}

.imageAbout_description {
  grid-column: span 3;
  display: flex;
  align-items: flex-end;
}

.gapAbout {
  grid-column: span 2;
}

.imageAbout {
  grid-column: span 5;
}

.imageAbout img {
  width: 100%;
}

/*Contact*/
.contactInfo {
  grid-column: 3 / span 5;
}

.socialMedia {
  grid-column: 9 / span 2;
}

.socialMedia h1 {
  width: max-content;
}

/*Menu*/
.menuSelectHeader {
  rotate: 0deg;
  transition: rotate ease 800ms;
}

.navSelect{
  opacity: 1;
  transition: opacity 0.5s ease;
}
#menu.open .navSelect {
  transition: opacity 0.5s ease;
  opacity: 0;
}


#menu.open .menuSelectHeader {
  rotate: -10deg;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - var(--marginDesktop) * 2);
  height: calc(100vh - var(--marginDesktop) * 2);
  padding: var(--marginDesktop);
  pointer-events: none;
}

#menu.open {
  pointer-events: all;
}

.menuBackground {
  transition: opacity ease 800ms, visibility ease 800ms;
  background: rgba(232, 232, 237, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
}

#menu.open .menuBackground {
  visibility: visible;
  opacity: 1;
}

.menuContent {
  position: relative;
  z-index: 901;
  top: 0;
  translate: 0, 0;
  width: 100%;
  transition: top ease 800ms, translate ease 800ms;
}

.menuHeader {
  grid-column: 3 / span 3;


  display: flex;
  flex-direction: column;
  gap: 0;
  transition: gap ease 800ms;
}

#menu.open .menuHeader {
  gap: var(--marginDesktop);
}

.menuHeader h1 {
  width: max-content;
}

#menu.open .menuContent {
  top: 50%;
  transform: translate(0, -50%);
  z-index: 901;
}

.language {
  position: absolute;
  display: flex;
  gap: calc(var(--marginDesktop) / 4);
  bottom: var(--marginDesktop);
  right: var(--marginDesktop);
  z-index: 901;
  opacity: 0;
  transition: opacity ease 800ms;
}

#menu.open .language {
  opacity: 1;
}

/*Agenda*/
.agendaFilters {
  position: fixed;
}

.agendaItems {
  margin-top: calc(15px + 0.390625vw);
}

.dateAgenda {
  grid-column: 3 / span 2;
}

.projectAgenda {
  grid-column: 5 / span 4;
}

.locationAgenda {
  grid-column: 9 / span 3;
}

.categoryAgenda {
  grid-column: 12 / span 1;
}

/*Selected Work*/
.projectWork {
  grid-column: 3 / span 5;
}

.categoryWork {
  grid-column: 8 / span 3;
}

.durationWork {
  grid-column: 11 / span 1;
}

.yearWork {
  grid-column: 12 / span 1;
}

.gapGrid {
  grid-column: 1 / span 11;
}

.workMain {
  grid-column: 3 / span 6;
}
.workDescription {
  grid-column: 10 / span 3;
}

.mainImage img {
  width: 100%;
  margin-top: calc(100vh / 6);
}

.imageWork {
  grid-column: 8 / span 5;
  margin-top: calc(100vh / 12);
}

.imageWork img {
  width: 100%;
}

.fixedWork {
  grid-column: 1 / span 2;
  position: fixed;
}

.fixedAudio {
  grid-column: 1 / span 2;
  position: fixed;
  width: calc(
    (100vw - var(--marginDesktop) * 2) / 12 * 2 - (var(--marginDesktop) / 2)
  );
  bottom: var(--marginDesktop);
  display: flex;
  justify-content: space-between;
}

.fixedAudio h1 {
  width: max-content;
}

#playButton{
  cursor: pointer;
}

.creditPhotoWork {
  display: flex;
  justify-content: flex-end;
  margin-top: calc(15px + 0.390625vw);
}

.grid.agendaItems:hover .itemImage img {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.itemImage img {
  transition: opacity 0.5s ease;

  width: 100%;
  opacity: 0;
}

.itemImage {
  position: absolute;
  transform-origin: center;
  transform: translate(0, -50%);
  pointer-events: none;
}

.itemImage img{
  grid-column: 5 / span 3;
  width:100%;
}

.gridInside{
  width: calc(100% - var(--marginDesktop) * 2);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: calc(var(--marginDesktop) / 2);
}

/*Discography*/
.discographyImage {
  position: absolute;
  width: calc(
    (100vw - var(--marginDesktop) * 2) / 12 * 3 - (var(--marginDesktop))
  );
}

.discographyImage img {
  width: 100%;
}

.projectDiscography {
  grid-column: 3 / span 4;
}

.typeDiscography {
  grid-column: 7 / span 2;
}

.categoryDiscography {
  grid-column: 9 / span 2;
}

.formatDiscography {
  grid-column: 11 / span 1;
}

.yearDiscography {
  grid-column: 12 / span 1;
}

.discographyMain {
  grid-column: 3 / span 4;
}
.track {
  margin-bottom: calc(15px + 0.390625vw);
}

.discoTitle {
  margin-bottom: calc((15px + 0.390625vw) * 2);
}

.listen,
.shop {
  margin-top: calc(100vh / 12);
}

.listen {
  grid-column: 3 / span 1;
}

.shop {
  grid-column: 4 / span 1;
}

.imageDisco {
  position: absolute;
  z-index: -1;
  bottom: var(--marginDesktop);
  right: var(--marginDesktop);
}

.imageDisco img {
  grid-column: 9 / span 4;
  width: 100%;
}

.agendaItems:hover {
  color: var(--grey);
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  /* Header */
  .headerLogo {
    grid-column: 1 / span 4;
  }

  .navSelect {
    display: none;
  }

  .menuContainer {
    grid-column: 12 / span 4;
    width: max-content;
  }
}

/* MENU FABIO */

.menuHeader h1:not(.menuSelect) {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease 800ms;
}

#menu.open .menuHeader h1:not(.menuSelect) {
  max-height: 100%;
  overflow: hidden;
}
